@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h2>Faculty Information System</h2>
<img src="~/images/facultyabout.jpg" height="300px" width="1200px"/><br /><br />
<h4>The University's Faculty Information System (Elements) provides a single point of organization, presentation, and reporting of scholarly and research activities. From publications and research data to grants, teaching and professional activities, Elements can be used to collect, understand, and showcase scholarly activities while making the data available for repurpose and reuse. Elements reduces the time and effort spent managing information about your research publications by automatically harvesting information from an extensive range of academic and scientific data sources. Research and professional activities, bibliographic data, and evidence of impact are combined in a single point of organization, presentation, and reporting. Integration with other campus systems provides the ability to promote and connect your scholarship and impact to others in the University community. </h4>
