@model FIS_174867.Models.Department

@{
    ViewBag.Title = "DeleteDept";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h2>Delete Department</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.DeptName)*@
            Department Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "IndexDepartment")
        </div>
    }
</div>
